*{
    font-family: "Kanit", "sans-serif";
    padding: 0;
    margin: 0;
}

.main_container{
    display: flex;
    align-items: center;
    width: 1120px;
    height: 120px;
    padding: 64px 160px 64px 160px;
}



.top_text{
    display: flex;
    flex-wrap: wrap;
}

.main_text{
    width:693px;
    height: 44px;

}

.lower_text{
    padding: 180px 0 30px 0;
    display: flex;
    flex-wrap: wrap;
}

.article-container{
    margin: 0 160px 0 160px;
    height: 310px;
}

.article_image{
    position: relative;
}

img{
    position: absolute;
    top: -300px;
    left: 950px;
}

#date{
    color: grey;
}

a{
    text-decoration: none;
}


#title{
    color:black;
    font-size: 28px;
    font-weight: bold;
}

#body{
    color:black;
    font-size: 16px;
}


#type{
    background-color: #E1E0E6;
    color: #081E34;
    border-radius: 30px;
    border: none;
}